!!! strict
%html{ :lang => "en" }
  %head
    %title&= values["title"]
    %meta{ :content => "text/html; charset=#{values['charset']}", "http-equiv" => "Content-Type" }
    %base{ :target => 'docwin' }/
    %link{ :rel => "stylesheet", :href => values["style_url"], :type => "text/css", :media => "screen" }
    
  %body#index
    #wrapper
      #sidebar
        %h2 Files
        = values['file_index']
        %h2 Classes/Modules
        = values['class_index']
        %h2 Methods
        = values['method_index']
        
      %iframe{ :name => "docwin", :src => values['initial_page'] }
      #footer-push
    #footer
      = link_to '<strong>Hanna</strong> RDoc template', 'http://github.com/mislav/hanna/tree/master'
    
